<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="oleksandr.kotyuk.orthodoxcalendar"
    android:installLocation="auto">
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <!-- <uses-permission android:name="android.permission.INTERNET" />
     <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
     <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS"/>
     <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM"/> -->
      <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <application
        android:allowBackup="true"
        android:name="oleksandr.kotyuk.orthodoxcalendar.MyApp"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
<activity
            android:name="oleksandr.kotyuk.orthodoxcalendar.SplashScreen"
            android:launchMode="singleTask"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="oleksandr.kotyuk.orthodoxcalendar.MainActivity"
            android:launchMode="singleTask"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/app_name"
            android:icon="@drawable/ic_launcher"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar" >
        </activity>
        <activity
            android:name="oleksandr.kotyuk.orthodoxcalendar.PreferencesActivity"
            android:launchMode="singleTask"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:parentActivityName="oleksandr.kotyuk.orthodoxcalendar.MainActivity"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar" >

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="oleksandr.kotyuk.orthodoxcalendar.MainActivity" />
        </activity>
        <activity
            android:name="DescriptionActivity"
            android:launchMode="singleTask"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/app_name"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar" >
        </activity>
        <service
            android:name="oleksandr.kotyuk.orthodoxcalendar.widget.MyService"
            android:permission="android.permission.BIND_REMOTEVIEWS" >
        </service>
        <service
            android:name="oleksandr.kotyuk.orthodoxcalendar.widget.MyServiceFZ"
            android:permission="android.permission.BIND_REMOTEVIEWS" >
        </service>
        <service
            android:name="oleksandr.kotyuk.orthodoxcalendar.notificationService"
            android:exported="false">

        </service>
        <receiver
            android:name="oleksandr.kotyuk.orthodoxcalendar.widget.MyWidget"
            android:icon="@drawable/ic_launcher"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" >
                </action>
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_metadata" >
            </meta-data>
        </receiver>
        <receiver
            android:name="oleksandr.kotyuk.orthodoxcalendar.widget.MyWidgetFZ"
            android:icon="@drawable/ic_launcher"
            android:label="@string/app_name_fz" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" >
                </action>
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_fz_metadata" >
            </meta-data>
        </receiver>

        <activity
            android:name="oleksandr.kotyuk.orthodoxcalendar.widget.ConfigActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/widget_app_name"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>
        <activity
            android:name="oleksandr.kotyuk.orthodoxcalendar.widget.ConfigActivityFZ"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/widget_app_name"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>
        <receiver
            android:name=".MyScheduledReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.intent.action.DATE_CHANGED"/>
                <action android:name="android.intent.action.TIME_SET"/>
                <action android:name="android.intent.action.TIMEZONE_CHANGED"/>
                <action android:name="android.app.action.SCHEDULE_EXACT_ALARM_PERMISSION_STATE_CHANGED"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </receiver>
        <receiver android:name="oleksandr.kotyuk.orthodoxcalendar.widget.NotificationCancel" />

        <activity
            android:name="DescriptionActivity"
            android:launchMode="singleTask"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/app_name"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar" >
        </activity>
        <activity
            android:name="GospelReadingActivity"
            android:launchMode="singleTask"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar" >
            <intent-filter>
                <data
                    android:host="GospelReadingActivityHostFree"
                    android:scheme="activity-run" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="BibleListActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/app_name_bible"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar" >

        </activity>
        <activity android:name="BibleReadActivity"
            android:launchMode="singleTask"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/app_name_bible"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar" >

        </activity>

        <activity android:name="DictionaryTermsListActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/app_dictionary_terms"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar" >

        </activity>
        <activity android:name="PsalturActivity"
            android:launchMode="singleTask"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/app_name_psaltur"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar" >

        </activity>
        <activity
            android:name="DescriptionOtherActivity"
            android:launchMode="singleTask"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar" >
            <intent-filter>
                <data
                    android:host="DescriptionOtherActivityHostFree"
                    android:scheme="activity-run" />
                <data
                    android:host="DescriptionOtherActivityHostCSFree"
                    android:scheme="activity-run" />
                <data
                    android:host="DescriptionLessonsActivityHostFree"
                    android:scheme="activity-run" />
                <data
                    android:host="DescriptionHolyActivityHostFree"
                    android:scheme="activity-run" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

        </activity>
        <activity
            android:name="PrayersBookmarksActivity"
            android:launchMode="singleTask"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/app_name_psaltur"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar" >
        </activity>

        <activity
            android:name="BibleSearchActivity"
            android:launchMode="singleTask"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/app_name"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar" >
        </activity>
        <activity
            android:name="PrayersSearchActivity"
            android:launchMode="singleTask"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/app_name"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar" >
        </activity>
    </application>

</manifest>